<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="1024000" executionTimeout="3600" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenCvSharp" publicKeyToken="6adad1e807fea099" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="shutterEyeConnectionString" connectionString="Data Source=172.29.122.113;Initial Catalog=shutterEye;Persist Security Info=True;User ID=sa;Password=newuser123#" providerName="System.Data.SqlClient" />
    <add name="shutterEyeEntities" connectionString="metadata=res://*/App_Code.ShutterDB2.csdl|res://*/App_Code.ShutterDB2.ssdl|res://*/App_Code.ShutterDB2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.29.122.113;initial catalog=shutterEye;persist security info=True;user id=sa;password=newuser123#;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="shutterEyeEntities1" connectionString="metadata=res://*/App_Code.EyeShutter.csdl|res://*/App_Code.EyeShutter.ssdl|res://*/App_Code.EyeShutter.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.29.123.112;initial catalog=shutterEye;persist security info=True;user id=sa;password=newuser123#;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="shutterEyeEntities2" connectionString="metadata=res://*/App_Code.ShutterDB.csdl|res://*/App_Code.ShutterDB.ssdl|res://*/App_Code.ShutterDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.29.122.113;initial catalog=shutterEye;persist security info=True;user id=sa;password=newuser123#;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="shutterEyeConnectionString2" connectionString="Data Source=172.29.122.113;Initial Catalog=shutterEye;User ID=sa;Password=newuser123#" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>